<header class="backdrop-blur-sm flex justify-between">
    <button class="bg-white rounded-2xl mx-8 my-4">
        <a href="/"><img class="py-2 px-4 h-12 w-auto" src="Logo.jpg" alt="Logo de Mogoda Trail"></a>
    </button>
    <nav>
        <ul class="flex justify-around w-2xl bg-white rounded-2xl mx-8 my-4 p-4 text-lg font-bold">
            <li><a class="px-6 py-3 rounded-xl hover:bg-green-600 transition-all" href="/">5K</a></li>
            <li><a class="px-6 py-3 rounded-xl hover:bg-green-600 transition-all" href="/info">Informació</a></li>
            <li><a class="px-6 py-3 rounded-xl hover:bg-green-600 transition-all" href="/inscripcions">Inscripcións</a></li>
            <li><a class="px-6 py-3 rounded-xl hover:bg-green-600 transition-all" href="/fotos">Fotos</a></li>
        </ul>
    </nav>
    <button class="bg-white rounded-2xl mx-8 my-4 text-lg font-bold px-4 py-2">
        <a class="px-6 py-3 rounded-xl hover:bg-green-600 transition-all" href="/">Cotacta'ns</a>
    </button>
</header>